@font-face {
	font-family: 'Archer-Bold';
	src: url('../../fonts/Archer-Bold.woff2') format('woff2'),
		 url('../../fonts/Archer-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
.form-wrap {
	max-width: 560px;
	h2 {
		font-family: 'Archer-Bold';
		font-size: 48px;
		line-height: 48px;
		letter-spacing: 0;
		margin-bottom: 15px;
	}
}